.parameter-view-container {
display: flex;
justify-content: center;
}
.parameters-container {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
margin-top: 150px;
width: 100%;
max-width: 1200px;
}
.parameters-container>h1 {
margin-bottom: 0.2em;
}
.parameters-container>h4 {
color: var(--grey);
}
.user-icon-circled-big {
padding: 1.5em;
}
.user-img-circled-big {
padding: 1em;
}
.tab-and-content-container {
display: grid;
grid-template-columns: repeat(6, 1fr);
gap: 2em;
width: 100%;
}
.tab-container {
grid-column: span 2;
display: flex;
justify-content: space-around;
}
.content-container {
grid-column: span 4;
}
.tabs {
width: 100%;
}
.tabs>* {
margin: 2em 0 2em 0;
}
.tab {
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
}
.tab:hover>.mid-tab>h3 {
    color: var(--orange);
    cursor: pointer;
}
.user-parameter-icon-circled {
padding: 0.2em;
border: 2px solid var(--orange);
border-radius: 50%;
color: var(--orange);
}
.parameter-icon {
color: var(--orange);
}
.mid-tab {
margin: 0 1em 0 1em;
}
.mid-tab>h3 {
color: white;
}
.active>.mid-tab>h3 {
    color: var(--orange);
}
.mid-tab>h4 {
color: var(--grey);
}

.single-address-container {
    display: flex;
    align-items: center;
    padding: 2em;
    margin: 1em;
    background: var(--medium-dark);
    justify-content: space-between;
    border-radius: 10px;
    color: white;
}
.single-address-container>:first-child {
    display: flex;
    align-items: center;
}
.single-address-container>:first-child>h4 {
    color: var(--grey);
}
.single-address-container>:first-child>* {
    margin: 0 0.5em;
}

.active-tab-title {
    color: white;
    margin-left: 1em;
}
.address-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.title-security-container {
    margin-left: 0.5em;
}

.title-security-container>h2 {
    color: white;
}

.title-security-container>h4 {
    color: var(--grey)
}

.email-form-container, .password-form-container {
    width: 50%;
}

.email-form-container>*, .password-form-container>* {
    margin: 0.5em;
}

.security-forms-container {
    display: flex;
}

.email-form-container>h3, .password-form-container>h3 {
    color: white;
}

.security-forms-vertical-spacer {
border-left: 1px solid var(--grey);
margin-left: 10px;
margin-right: 10px;
}

.security-form-field {
    width: -moz-available;
    margin: 1em;
}

.submit-button-container {
    display: flex;
    justify-content: center;
}

.links-selector {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;
}

.main-links {
    width: 100%;
    display: flex;
}

.main-links>a {
    color: white;
    font-weight: bold;
    width: 150px;
    display: flex;
    justify-content: center;
}

.main-links>a:hover {
    color: var(--orange);
}

.parameters-link {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.parameters-link>a {
    margin-right: 1em;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.parameters-link>a:hover {
    color: var(--orange);
}

.parameters-link>a>svg {
    margin-right: 0.5em;
    color: var(--orange);
}

.cutline-form-margin {
    margin-top: 1em;
}


.account-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.active span, .main-links a:hover span {
    color: var(--orange);
}

.active .active-link-line, .active .active-parameters-line {
    height: 1px;
    background: var(--orange-smooth-gradient);
    margin-top: 2.5em;
    width: 150px;
    position: absolute;
    z-index: 1;
}

.active .active-parameters-line {
    margin-top: 3.5em;
    width: 130px;
}

.forbidden {
display: flex;
flex-direction: column;
align-items: center;
background-image: url('../../img/no_results/Sonic.png');
background-repeat: no-repeat;
height: 600px;
background-position: center center;
background-size: 200px 300px;
position: relative;
}

.forbidden>h3 {
    color: white;
    margin: 1em;
}

.profile-picture-upload>h3, .profile-pseudo-update>h3 {
    margin: 0.5em 0;
    color: white;
}

.profile-picture-container {
    display: flex;
    align-items: center;
    color: var(--grey);
}

.profile-picture-container:hover {
    cursor: pointer;
}

.profile-picture-container>svg:not(.user-icon-circled) {
    color: white;
}

.user-icon-circled {
    margin-right: 0.5em;
}

.profile-picture-container>.user-img-circled-navbar {
    margin-right: 0.5em;
}

.profile-update-container {
    display: flex;
    justify-content: space-between;
}

.profile-update-container>.profile-picture-upload {
    margin-right: 2em;
}

.pseudo-input {
    width: 450px;
    margin-right: 1em;
    height: 26px;
}

.user-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.user-info-container>h4 {
    color: var(--grey);
}

.address-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.address-modal-content {
    background-color: var(--medium-light);
    width: 730px;
    border-radius: 10px;
}

.modal-head-container {
    display: flex;
    justify-content: end;
    margin: 1em;
    padding-top: 1em;
}

.submit-address-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
}

.single-address-container>h4 {
    color: var(--grey-txt-light);
}

.add-address-btn {
    display: flex;
    align-items: center;
}

.add-address-btn>svg {
    margin-right: 0.5em;
}

.address-modal-content>h1 {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

.close-button>svg {
    color: red;
}

.close-button>svg:hover {
    color: white;
}
